* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    position: relative;

}

#left {
    width: 30%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    color: white;
    position: relative;

}

#text {


    color: #fff;
    position: absolute;
    top: 7%;
    left: 5%;
    width: 90%;
    line-height: 1.5;

}

text h1 {
    font-size: 60px;

}

#text h1 span {
    font-weight: 300;
}

#text h3 {
    font-size: 30px;
    font-weight: 400;
}

#right {
    width: 70%;
    height: 100%;
    /* background-color: rgba(0, 0, 255, 0.202); */

}

#text p {
    margin-bottom: 15px;


}

#right #cent {
    position: absolute;
    top: 50%;
    left: 31%;
    transform: translate(-50%, -50%) rotate(-30deg);
}

#text button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    color: black;
    cursor: pointer;
    /* border-radius: 10px; */
}

#text button:hover {
    background-color: green;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;

}

#text2 {
    position: absolute;
    bottom: 2%;
    width: 90%;
    height: 130px;
    background-color: White;
    padding: 5px 10px;
    color: black;

}

#text2 h1 {
    font-size: 20px;
}

#text2 p {
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
}

#right {}

#right #center {


    position: absolute;
    top: 10%;
    width: 40%;
    left: 55%;

}

#center h1 {
    font-size: 60px;
    color: red;
}

#center span {
    color: black;
    font-weight: 200;
}

#right #center h2 {
    font-weight: 200;
    margin-bottom: 10px;
}

#right #center h2 span {
    font-weight: 700;
}

#right #center p {
    font-size: 13px;
    margin-bottom: 8px;
    width: 50%;
    line-height: 1.8;
}

#btns {
    display: flex;
    gap: 20px;
}

#btns button {
    padding: 10px 10px;
    border: none;
}

#btns button:nth-child(1) {
    padding: 10px 10px;
    border: 1px solid red;
    background-color: transparent !important;
    border-radius: 10px;
    font-weight: 500;
    color: red;
}

#btns button:nth-child(2) {
    padding: 10px 10px;
    border: 1px solid red;
    background-color: red !important;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
}

#btns button:nth-child(2):hover {
    padding: 10px 10px;
    border: 1px solid red;
    background-color: rgba(248, 7, 7, 0.737) !important;
    border-radius: 10px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s ease-in-out all;
}

.samples {
    width: 400px;
    background-color: transparent !important;
    object-fit: cover;
    object-position: center;

    margin-top: 10px;
    display: flex;
    gap: 20px;

}

.sample {
    width: 100%;
    overflow: hidden;
}

.sample img {
    width: 100%;
    background-color: transparent !important;

}

#sam h1 {
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0;
}